.grid {
  width: 15%;
  display: inline-block;
  margin-left: 180px;
  margin-bottom: 10px;
}
/* The sidebar menu */
.sidenav {
  height: 77%; /* Full-height: remove this if you want "auto" height */
  width: 250px; /* Set the width of the sidebar */
  position: absolute;; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 205px; /* Stay at the top */
  right: 300px;
  font-family: 'Old Standard TT', serif;

  background-color: white;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}

/* The navigation menu links */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #000000;
  display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

.nav a:hover {
  color: #f1f1f1;
  style: underline;
}

/* Style page content */
.main {
  margin-left: 160px; /* Same as the width of the sidebar */
  padding: 0px 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
.main {
  margin-bottom: 20px;
  margin-top: 100px;
  margin-left: 300px;
  margin-right: 40px;
}

.latest {

  font-family: 'Thasadith', sans-serif;

}

h5 {
  font-family: 'Old Standard TT', serif;
  color: black;
  text-align: center;
  font-size: 40px;
}

h7 {

    font-family: 'Old Standard TT', serif;
    color: black;
    text-align: center;
    font-size: 30px;
  }


h6 {
font-family: 'Old Standard TT', serif;
text-align: center;
color: #b2b2b2;
font-size: 30px;

}}
.nav {
  height: 77%; /* Full-height: remove this if you want "auto" height */
  width: 100px; /* Set the width of the sidebar */
  position: absolute;; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 205px; /* Stay at the top */
  right: 300px;
  font-family: 'Old Standard TT', serif;

  background-color: white;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}

/* The navigation menu links */
.nav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #000000;
  display: flex;
}
.time {
  color: #c72d0e;
  padding-left: 15px;
}
.hr { width:300px; height:1px; background: #fff }
/* When you mouse over the navigation links, change their color */
.nav a:hover {
  color: #f1f1f1;
  style: underline;
}

/* Style page content */
.main {
  margin-left: 160px; /* Same as the width of the sidebar */
  padding: 0px 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
.header-img {
  width: 200px;
  margin-left: 180px;
  margin-top: 100px;
  position: absolute;
}

h1, h2, h3 {
  font-family: 'Merriweather', serif;
  text-align: center;

}

h4{
  font-family: 'Marcellus', serif;
}
h1,h2 {
  background-color: white;
  width: 200px;

}
/* Bottom left text */
.bottom-left {
  position: absolute;
  bottom: -85px;
  width: 430px;
  background-color: white;
  padding: 10px;
  text-align: center;
font-family: 'Old Standard TT', serif;
font-size: 20px;

}
p {
  font-family: 'EB Garamond', serif;
}

}
div {

  padding: 10px;
}
li {
 display:inline-block;
margin-top: 100px;
margin-left: 0px;
  margin-right: 10px;
  font-family: 'Thasadith', sans-serif;
font-size: 20px;




}
ol {
  list-style-type: none;
  margin left: 0px;
  padding: 0;
  overflow: hidden;
  background-color: white;
    position: absolute;
}

li {
  float: right;

}

li a {
  display: block;
  color: black;
  text-align: center;

  padding-right: 20px;
  text-decoration: none;
  margin-left: 15px;

}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: white;
}

.active {
  background-color: #4CAF50;
}

li {
  border-right: 1px solid #bbb;

}
a:link {
  text-decoration: none;
}

a:visited {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: #b3b3b3
;
}

a:active {
  text-decoration: underline;
}


.hr2{

  color: red;
  width: 78%;
  margin-left: 150px;

}
ol {
  position: relative;
  top: 50px;
  width: 420px;
  margin-right: 10px;
  margin-left: 750px;


}
